/auth_*
/node_*
/bots/proxyConfig.js
/logs
admintest.js
opertationtest.js

# Backend
backend/node_modules/
backend/auth_sessions/
backend/logs/
backend/stats/
backend/uploads/
backend/data/
backend/blocked.json
backend/failed_requests.json
backend/bots/proxyConfig.js

# Frontend
frontend/node_modules/
frontend/dist/
*.md
docs/*
.claude
.worktrees/
